*/*/output/density/num/
*/*/output/density/vmr/
*/*/output/density/global/
*/*/output/density/3Drot/
*/*/output/density/2Dstable/
*/*/output/flux/
*/*/output/rate/
Jupiter/*/input/aurora
Jupiter/*/input/density
UV/xct
html
latex
.vscode
build/*
!build/dummy
__pycache__
tstex_modules
*.mod
*/*/*.mod
*.dSYM
*/*/*.eps
*/*.eps
*.eps