*/*/output/density/num/
*/*/output/density/vmr/
*/*/output/density/global/
*/*/output/density/3Drot/
*/*/output/density/2Dstable/
*/*/output/flux/
*/*/output/rate/
Jupiter/*/input/aurora
Jupiter/*/input/density
Jupiter/*/output/
Jupiter/dipole_Jupiter.dat
Mars/OHtest/input/
Mars/OHtest/output/
Mars/OHtest/settings/
Mars/sep201709
Mars/stable201709
UV/xct
Doxyfile
html
latex
.vscode
build/*
!build/dummy
__pycache__
tstex_modules
*.mod
*/*/*.mod
*.dSYM
*/*/*.eps
*/*.eps
*.eps
a.out
e__main